*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height:auto;
    background-color: #141A16;
}
.banner_360{
    display: none;
}
.contain_360{
    display: none;
}
.top{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.top img{
    width: 100%;
    /* height: 100%; */
}
.contain{
    width: 100%;
    height: auto;
    background-color: #141A16;
    padding-top: 10px;
    display: flex;
    padding-bottom: 40px;
}
.contain video {
    width: 100vw;
    mix-blend-mode: screen;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
.contain .list{
    width:20%;
    background-image: url("/images/04-wars/P3-left-bg.png");
    background-size:cover;
    background-repeat: no-repeat;

}
.contain .nav-pills{
    margin-top: 470px;
    margin-left: 20px;
    list-style: none;
}
.contain .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  
    background-color: unset;
}
.contain .nav-link img{
    width: 300px;
    padding-bottom:20px ;
    
}

main .contain a img:hover{
    transform: translate(10px) rotate(5deg);
    
}
.contain .content_wars{
    display: unset;
    width: 80%;
    height: 100%;
    margin-top: 30px;
}
.contain .main_title{
    width: 100%;
}
.contain .main_title_img{
    display: flex;
    justify-content: center;
  
}

.contain .main_title img{
    height: 70%;
    width: 50%;    
}

.contain .content_bottom{
    width: 100%;
    height:1100px;

    background-image: url("/images/04-wars/P3-right-bg-v2.png");
    background-size: contain;
    background-repeat: no-repeat;
   

}

.contain .subtitle{
    width: 100%;
    height: 150px;
    position: relative;
}
.contain .subtitle img{
    width: 55%;
    position: absolute;
    right: 10%;
    bottom: -65%;
}
.contain .swiper{
    width: 80%;
    height: 580px;
    margin-top:3% ;
    display: flex;
     

   
}

.contain .swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    margin-left: 20%;
    
}

.contain .swiper-slide {
    background-position: bottom;
    background-size: cover;
    width: 800px;
    height: 100%;
    background-size: cover;
   

}

.contain .content_text{
    width: 60%;
    color:rgb(255, 253, 246);
    margin-left: 300px;
    line-height: 1.5;
    letter-spacing: 2px;
}

@media screen and (max-width:1800px){

    .contain .swiper{
        width: 80%;
        height: 50%;
        margin-top:3% ;
        display: flex;
         
    
       
    }    
    .contain .content_text{
        width: 60%;
        color:rgb(255, 253, 246);
        margin-left: 300px;
        line-height: 1.5;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:1700px){

    .contain .swiper{
        width: 80%;
        height:45%;
        margin-top:3% ;
        display: flex;
       
    }
    
    .contain .swiper-slide {
        background-position: bottom;
        background-size: contain;
        width: 100%;
        height: 100%;
        background-size: cover;
       
    }

}
@media screen and (max-width:1600px){

    .contain .swiper{
        width: 80%;
        height:45%;
        margin-top:3% ;
        display: flex;
       
    }
    
    .contain .swiper-slide {
        background-position: bottom;
        background-size: contain;
        width: 100%;
        height: 100%;
        background-size: cover;
       
    }

    .contain .content_text{
        width: 60%;
        color:rgb(255, 253, 246);
        margin-left: 230px;
        line-height: 1.5;
        letter-spacing: 2px;
    }

}



@media screen and (max-width:720px){
    .top{
        display: none;
    }

    .banner_360{
        display: block;
        width: 100%;
        padding-top: 100px;
    }
    .banner_360 img{
        width: 100%;
    }
    
    
    .contain{
        display: none;
    }
    main .contain_360{
        display:block;
        width: 100%;
        /* height: calc(100% - 350px); */
        background-image: url('/images/04-wars/P2_360_new_2.png');
        background-color: #141A16;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 30px;
    }

    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        margin-top:20%;
        margin-left: 0;
        padding: 30px;
        display: flex;
        
    } 
    .swiper-button-next{
       color: rgb(90, 22, 10);
    }
    .swiper-button-prev{
        color: rgb(90, 22, 10);
    }

    .swiper-slide {
        text-align: left;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 0 auto;
    }

    .card{
        background-color: #534741;
        width: 60%;
    }

    .btn{
        background: unset;
        float: right;
    }

    .fas {
        font-size: 15px;
        color: rgb(245, 241, 235);


    }
    .card-title img{
        width: 100%;
    }
    .card-text{
        color: rgb(245, 241, 235);
        font-size: small;
    }

    .ellipsis {
        font-size: 14px;
        overflow: hidden;
        -webkit-line-clamp: 3;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .modal-content{
        background-color:unset
    }
    .modal-header{
        position: relative;
    }
    .close{

        background-color: white;
        border-radius: 20%;
        position: absolute;
        right: 5%;
    }
    .modal-dialog-scrollable{
        display: unset;
    }
    .modal-body{ 
        background-image: url('/images/04-wars/bg_360.png');

        background-size:cover;
        background-position:center ;
        padding: 20px 10px;
    } 
    .modal-body img {
        width: 100%; 
        margin-bottom: 10px;

    }

    .modal-header img{
        width: 100%;
    }
  



}

@media screen and (max-width:360px){

    .top{
        width: 100%;
    background-color: rgb(163, 60, 60);
    }
    
    .contain{
        display: none;
    }
    main .contain_360{
        display:block;
        width: 100%;
        /* height: calc(100% - 350px); */
        background-image: url('/images/04-wars/P2_360_background.png');
        background-color: #141A16;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 30px;
    }

    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        margin-top:20%;
        margin-left: 0;
        padding: 30px;
        display: flex;
        
    } 
    .swiper-button-next{
       color: rgb(90, 22, 10);
    }
    .swiper-button-prev{
        color: rgb(90, 22, 10);
    }

    .swiper-slide {
        text-align: left;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 0 auto;
    }

    .card{
        background-color: #534741;
        width: 60%;
    }

    .btn{
        background: unset;
        float: right;
    }

    .fas {
        font-size: 15px;
        color: rgb(245, 241, 235);


    }
    .card-title img{
        width: 100%;
    }
    .card-text{
        color: rgb(245, 241, 235);
        font-size: small;
    }

    .ellipsis {
        font-size: 14px;
        overflow: hidden;
        -webkit-line-clamp: 3;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .modal-content{
        background-color:unset
    }
    .modal-header{
        position: relative;
    }
    .close{

        background-color: white;
        border-radius: 20%;
        position: absolute;
        right: 5%;
    }
    .modal-dialog-scrollable{
        display: unset;
    }
    .modal-body{ 
        background-image: url('/images/04-wars/bg_360.png');

        background-size:cover;
        background-position:center ;
        padding: 20px 10px;
    } 
    .modal-body img {
        width: 100%; 
        margin-bottom: 10px;

    }

    .modal-header img{
        width: 100%;
    }
  



}